body{
	font-family: Helvetica;
    font-weight: 100;
    background: #0c1014;
    margin:0;
    padding: 0;
}

.page_header{
	border-bottom: 1px;
	border-color: #edeeee;
	background: #0c1014;
	overflow: hidden;
	margin-bottom: 60px;
}

.page_header > div{
	width: 600px;
	margin: auto;
}

.container{
	width: 600px;
	margin:auto;
}

article{
	background: #212328;
	margin-bottom: 60px;
	padding: 5px 0 5px 0;
	border-radius: 10px;
}

article > header{
	padding:0px 14px;
}

.post_title{
	overflow: hidden;
}

.title_container{
	display: flex;
	gap: 1rem;
	align-items: start;
}

.title_container h2{
	font-size: 18px;
}

.profile_pic{
	height: 60px;
	width: 60px;
	border-radius: 100%;
	object-fit: cover;
}

.post_title{
	display: flex;
}

.post_title > div {
	width: 50%;
}

/*Date*/
.date_container{
	text-align: right;
	color: #a5a7aa;
	margin-left: auto;
}

.comment_container{
	padding:0px 24px;
}

/*max img width*/
img{
	max-width: 598px;
}

/*Hashtags*/
span{
	font-size: 15px;
	font-weight: 500;
	color: rgb(46, 97, 242);
}


/*Text color*/
h1, h2, p{
	color: white;
}

